@import '../../stylesheets/variables.scss';

.carousel-image {
  max-height: 630px;
  max-width: 200px;
  min-height: 600px;
  min-width: 900px;
  margin: 0 auto;

  @include breakpoint (mobile) {
    max-height: 240px;
    max-width: 375px;
    min-height: 425px;
    min-width: 375px;
  }
}

.carousel-image-text {
  background: $blackgradient;
  border-radius: 35px;
  box-shadow: 0 0 10px 10px rgba(0,0,0,0.6);
  color: $white;
  font-family: $carouseltextfont;
  font-size: 1.2em;
  margin: 0 auto;
  padding: 5px;
  position: relative;
  top: 430px;
  width: 80%;

  @include breakpoint (mobile) {
    font-size: 1em;
    margin: 0 auto;
    top: 250px;
    width: 90%;
  }
}

.image1 {
  background: url('./carouselimage1.jpg') no-repeat;
  background-size: cover;
  @include breakpoint(mobile) {
    background-size: 375px 240px;
  }
}

.image2 {
  background: url('./carouselimage2.jpg') no-repeat;
  background-size: cover;
  @include breakpoint(mobile) {
    background-size: 375px 240px;
  }
}

.image3 {
  background: url('./carouselimage3.jpg') no-repeat;
  background-size: cover;
  @include breakpoint(mobile) {
    background-size: 375px 240px;
  }
}
