@import '../../stylesheets/variables.scss';

.carousel-image {
  max-height: 630px;
  max-width: 990px;
  min-height: 600px;
  min-width: 900px;
  margin: 0 auto;
  width: auto;

}

.carousel-image-text {
  background: $blackgradient;
  border: 1px solid $white;
  border-radius: 5px;
  color: $white;
  font-family: $carouseltextfont;
  font-size: 1.2em;
  margin: 0 auto;
  padding: 5px;
  position: relative;
  top: 430px;
  width: 80%;
}

.image1 {
  background: url('./carouselimage1.jpg') center center;
  background-size: cover;
}

.image2 {
  background: url('./carouselimage2.jpg') center center;
  background-size: cover;
}

.image3 {
  background: url('./carouselimage3.jpg') center center;
  background-size: cover;
}
