@import '../../stylesheets/variables.scss';

.detailcontainer {
  background: $lightergray;
  border-radius: 10px;
  font-family: $titlefont;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px;
  width: 90%;

  div {
    display: inline-block;
    height: 450px;
    margin: 0 5%;
    vertical-align: top;
    width: 40%;
  }

  .detailimgcontainer {
    position: relative;
  }

  .detailtext {
    font-family: $itemdetailfont;
    font-size: 1.3em;
    padding: 10px;
    text-align: center;
  }

  img {
    max-height: 420px;
    max-width: 420px;
  }

  @include breakpoint(mobile) {
    margin-bottom: 20px;
    overflow: visible;
    padding: 5px;

    div {
      display: block;
      height: 350px;
      width: 320px;
    }

    .detailimgcontainer {
      margin: 0 auto;

      img {
        max-height: 320px;
        max-width: 320px;
      }
    }
    .detailtext {
      height: 420px;
    }
  }

  @include breakpoint(tablet) {
    width: 80%;

    div {
      display: block;
      margin: 0 auto;
    }

    .detailimgcontainer {
      min-width: 420px;
    }
  }
}
