@import '../../stylesheets/variables.scss';

.pagefooter {
  font-family: $footerfont;
  font-size: 1.3em;
  margin-top: 15px;

  ul {
    list-style-type: none;
  }

  li {
    color: $black;
    display: inline-block;
    margin: 0 20px;
  }

}
