@import '../../stylesheets/variables.scss';

.App-header {
  background: $titlegradient, url('../../images/titlebackground.jpg');
  color: $linkcolor;
  font-family: $titlefont;
  font-size: 1.4em;
  height: 120px;
  padding: 20px;
  text-decoration: none;


  .linkstyles {
    color: $titlefontcolor;
    text-decoration: none;

    &:hover {
      color: $lightgray;
      text-decoration: none;
    }
  }

  @include breakpoint (mobile) {
    height: 100px;
    padding: 2px;

    h1 {
      font-size: 22px;
    }
  }
}
