@import url("https://fonts.googleapis.com/css?family=Petit+Formal+Script");
.App-header {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../images/titlebackground.jpg");
  color: #fff;
  font-family: "Petit Formal Script";
  font-weight: bold;
  height: 100px;
  padding: 20px; }
