@import url("https://fonts.googleapis.com/css?family=Lobster+Two|Overlock|Petit+Formal+Script|Syncopate:400,700");
.App-header {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../images/titlebackground.jpg");
  color: #fff;
  font-family: "Syncopate";
  font-size: 1.4em;
  font-weight: 700;
  height: 120px;
  padding: 20px; }
