@import '../../stylesheets/variables.scss';

.App-header {
  background: $titlegradient, url('../../images/titlebackground.jpg');
  color: $titlefontcolor;
  font-family: $titlefont;
  font-size: 1.4em;
  font-weight: 700;
  height: 120px;
  padding: 20px;
}
