@import url('https://fonts.googleapis.com/css?family=Lobster+Two|Overlock|Petit+Formal+Script|Syncopate:400,700');


// COLOR LITERALS
$white: #fff;
$black: #000;
$lightgray: #e3e5ea;

// COMPONENT COLORS
$body-background-color: $white;
$header-background-color: $white;
$titlefontcolor: $white;
$content-background-color: $white;
$header-font-color: $black;
$linkcolor: $black;
$navitemhovercolor: $lightgray;

// FONTS
$navfont: 'Syncopate';
$titlefont: 'Syncopate';
$carouseltextfont: 'Overlock';
$footerfont: 'Overlock';

// GRADIENTS
$whitegradient: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4));
$blackgradient: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
$titlegradient: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));


// BREAKPOINTS
$mobile: 414px;
$tablet: 768;

@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: 70em) { @content ; }
 }
  @else if $point == laptop {
    @media (min-width: 64em) { @content ; }
 }
   @else if $point == tablet {
    @media (min-width: 50em) { @content ; }
 }
 @else if $point == mobileonly {
    @media (max-width: 414px)  { @content ; }
 }
}
