@import url('https://fonts.googleapis.com/css?family=Lobster+Two|Overlock|Petit+Formal+Script|Syncopate:400,700');


// COLOR LITERALS
$white: #fff;
$black: #000;
$lightgray: #e3e5ea;
$lightergray: #f2f2f2;

// COMPONENT COLORS
$body-background-color: $white;
$header-background-color: $white;
$titlefontcolor: $white;
$content-background-color: $white;
$header-font-color: $black;
$linkcolor: $black;
$navitemhovercolor: $lightgray;

// FONTS
$navfont: 'Syncopate';
$titlefont: 'Syncopate';
$itemfont: 'Overlock';
$itemdetailfont: 'Overlock';
$carouseltextfont: 'Overlock';
$footerfont: 'Overlock';
$sallyfont: 'Book Antiqua';

// GRADIENTS
$whitegradient: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4));
$blackgradient: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
$titlegradient: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));


// BREAKPOINTS
$mobile: 414px;
$tablet: 768;

@mixin breakpoint($point) {
  @if $point == desktop {
    @media only screen and (min-width: 70em) { @content ; }
 } @else if $point == laptop {
    @media only screen and (min-width: 64em) { @content ; }
 } @else if $point == tablet {
    @media only screen and (min-width: 750px) and (max-width: 1000px) { @content ; }
 } @else if $point == mobile {
    @media only screen and (max-width: 450px)  { @content ; }
 }
}
