@import '../../stylesheets/variables.scss';

.mynavbar {
  margin: 0 10%;

  ul {
    font-family: $navfont;
    font-size: 1.5em;
    list-style-type: none;
  }

  a {
    color: $linkcolor;
    text-decoration: none;
    li {
      display: inline-block;
      padding: 10px 0;
      text-align: center;
      text-decoration: inherit;
      width: 15%;
    }
  }

  li:hover {
    background-color: $navitemhovercolor;
  }

  .navlink {
    &:hover {
      color: $linkcolor;
      text-decoration: none;
    }
  }
}
