@import url("https://fonts.googleapis.com/css?family=Lobster+Two|Overlock|Petit+Formal+Script|Syncopate:400,700");
.mynavbar {
  margin-bottom: 0px !important;
  width: 100%; }
  .mynavbar ul {
    font-family: "Syncopate";
    font-size: 1.3em;
    list-style-type: none; }
  .mynavbar .navitem {
    display: inline-block;
    float: none;
    padding: 10px 0;
    text-align: center;
    text-decoration: inherit; }
  .mynavbar a {
    color: #000;
    text-decoration: none; }
  .mynavbar li:hover {
    background-color: #e3e5ea; }
  .mynavbar .navlink:hover {
    color: #000;
    text-decoration: none; }
  @media only screen and (max-width: 450px) {
    .mynavbar ul {
      font-size: 1em; }
    .mynavbar li {
      padding: 5px 0; } }
  @media only screen and (min-width: 450px) and (max-width: 1000px) {
    .mynavbar ul {
      font-size: 1em; }
    .mynavbar li {
      padding: 5px 0; } }
