@import '../../stylesheets/variables.scss';

.mynavbar {
  margin-bottom: 0px !important;
  width: 100%;

  ul {
    font-family: $navfont;
    font-size: 1.3em;
    list-style-type: none;
  }

  a {
    color: $linkcolor;
    text-decoration: none;
    li {
      display: inline-block;
      float: none;
      padding: 10px 0;
      text-align: center;
      text-decoration: inherit;
    }
  }

  li:hover {
    background-color: $navitemhovercolor;
  }

  .navlink {
    &:hover {
      color: $linkcolor;
      text-decoration: none;
    }
  }

  @include breakpoint(mobile) {
    ul {
      font-size: 1em;
    }
    li {
      padding: 5px 0;
    }
  }
}
